# dependencies
node_modules/
frontend/node_modules/

# next build output
.next/
frontend/.next/

# vercel
.vercel/
frontend/.vercel/

# env
.env
.env.*
frontend/.env.local

# mac
.DS_Store

# old static (保険)
docs/
site/
